{% extends "chords/base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block body_block %}

<h3>{% trans "Log in" %}</h3>
<hr />

<form method="post" action="">
    {% csrf_token %}

    {% if form.errors %}
        <div class="alert alert-danger">{% trans "Incorrect username or password." %}</div>
    {% endif %}

    <div class="row">
        <div class="form-group col-md-3">
            <label for="username">{% trans "Username" %}</label>
            <input type="text" class="form-control" name="username">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="password">{% trans "Password" %} <a href="{% url 'auth_password_reset' %}">{% trans "(forgot password)" %}</a></label>
            <input type="password" class="form-control" name="password">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember_me" /> {% trans "Remember Me" %}
                </label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
