{% extends "chords/base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block body_block %}

<h3>{% trans "Reset password" %}</h3>
<hr />

<form method="post" action="">
    {% csrf_token %}
    {{form.errors}}
    <div class="row">
        <div class="form-group col-md-3">
            <label for="new_password1">{% trans "New password" %}</label>
            <input type="password" class="form-control" name="new_password1">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="new_password2">{% trans "Confirm new password" %}</label>
            <input type="password" class="form-control" name="new_password2">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{% trans 'Reset password' %}</button>
</form>

{% endblock %}
