{% extends "chords/base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block body_block %}
<h3>Forgot password</h3>
<hr />

<form method="post" action="">
    {% csrf_token %}

    {% if form.errors %}
        <div class="alert alert-danger">{% trans "Please enter your email address." %}</div>
    {% endif %}

    <div class="row">
        <div class="form-group col-md-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="{% trans 'Enter your email address' %}">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{% trans 'Reset password' %}</button>
</form>
{% endblock %}

{# This is used by django.contrib.auth #}
