{% extends "chords/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block body_block %}
<form method="post" action="">
    {% csrf_token %}

    {% with fields=form.visible_fields %}
    <div class="row">
        <div class="form-group col-md-3 {% if fields.0.errors %}has-error{% endif %}">
            <label for="old_password" class="control-label">{% trans "Old password" %}</label>
            <input type="password" class="form-control" name="old_password">
            {% if fields.0.errors.0 != "This field is required." %}
                <span class="help-block {{ form.error_css_class }}">{{ fields.0.errors.0 }}</span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 {% if fields.1.errors or fields.2.errors %}has-error{% endif %}">
            <label for="new_password1" class="control-label">{% trans "New password" %}</label>
            <input type="password" class="form-control" name="new_password1">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 {% if fields.2.errors or fields.1.errors %}has-error{% endif %}">
            <label for="new_password2" class="control-label">{% trans "Confirm new password" %}</label>
            <input type="password" class="form-control" name="new_password2">
            {% if fields.1.errors and not fields.2.errors or fields.2.errors and not fields.1.errors %}
                <span class="help-block {{ form.error_css_class }}">{% trans "The two passwords didn't match." %}</span>
            {% endif %}
        </div>
    </div>
    {% endwith %}

    <button type="submit" class="btn btn-primary">{% trans "Change password" %}</button>
</form>
{% endblock %}
