{% extends "chords/base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block body_block %}

{% include "chords/panel_form_snippet.html" with title="Forgot password" panel_id="password_reset_panel" %}
    <form id="password_reset_form" method="post" action="">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger">{% trans "Please enter your email address." %}</div>
        {% endif %}

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="{% trans 'Enter your email address' %}">
        </div>

        <button type="submit" class="btn btn-primary">{% trans 'Reset password' %}</button>
    </form>
</div></div> <!--closing divs from panel_form_snippet-->
{% endblock %}
