{% extends "chords/base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block body_block %}

<h3>{% trans "Sign up" %}</h3>
<hr />

<form id="registration_form" method="post" action="">
    {% csrf_token %}
    {{ form.errors }}
    <!--{{ form.as_p }}-->
    <!--Enter a valid username. This value may contain only letters, numbers and @/./+/-/_ characters.-->
    <div class="row">
        <div class="form-group col-md-3">
            <label for="username">{% trans "Username" %}</label>
            <input type="email" class="form-control" id="username" name="username">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="email">{% trans "Email address" %}</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="password1" class="control-label">{% trans "Password" %}</label>
            <input type="password" class="form-control" id="password1" name="password1" aria-describedby="inputStatus">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span id="inputStatus" class="sr-only"></span>
            <span class="text-muted">Must contain at least 5 characters.</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="password2" class="control-label">{% trans "Confirm your password" %}</label>
            <input type="password" class="form-control" id="password2" name="password2" aria-describedby="inputStatus">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span id="inputStatus" class="sr-only"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{% trans "Create account" %}</button>
</form>

{% endblock %}
