{% extends "chords/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block body_block %}

{% include "chords/panel_form_snippet.html" with title="Sign up" panel_id="registration_panel" %}
    <form id="registration_form" method="post" action="">
        {% csrf_token %}

        {% if form.username.errors %}
            <div class="alert alert-danger alert-dismissible">{{ form.username.errors }}</div>
        {% endif %}
        {% if form.email.errors %}
            <div class="alert alert-danger">{{ form.email.errors }}</div>
        {% endif %}

        <div class="form-group">
            <label class="control-label" for="username">{% trans "Username" %}</label>
            <input type="text" class="form-control" id="username" name="username">
            <span class="help-block">{% trans "May contain up to 30 letters, numbers or @.+-_ symbols." %}</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="email">{% trans "Email address" %}</label>
            <input type="email" class="form-control" id="email" name="email">
            <span class="help-block">{% trans "We hate spam as much as you do." %}</span>
        </div>
        <div class="form-group">
            <label for="password1" class="control-label">{% trans "Password" %}</label>
            <input type="password" class="form-control" id="password1" name="password1" aria-describedby="inputStatus">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span id="inputStatus" class="sr-only"></span>
            <span class="help-block">{% trans "Must contain at least 5 characters." %}</span>
        </div>
        <div class="form-group">
            <label for="password2" class="control-label">{% trans "Confirm your password" %}</label>
            <input type="password" class="form-control" id="password2" name="password2" aria-describedby="inputStatus">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span id="inputStatus" class="sr-only"></span>
        </div>

        <button type="submit" class="btn btn-primary">{% trans "Create account" %}</button>
    </form>
</div></div> <!--closing divs from panel_form_snippet-->

{% endblock %}

{% block scripts_block %}
    <script src="{% static "chords/js/forms_validation.js" %}"></script>
{% endblock %}
