{% extends 'chords/base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}Send a song!{% endblock %}

{% block body_block %}

<form id="add_song_form" method="post" action="{% url 'chords:add_song' %}">
    {% csrf_token %}
    <h3>Send a song!</h3>
    <hr />

    {{ form|bootstrap }}
    <button type="submit" class="btn btn-primary">Go to verification</button>
</form>

{% endblock %}

{% block scripts_block %}
    <script src="{% static "chords/js/forms_validation.js" %}"></script>
{% endblock %}
