<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>Chords - {% block title %}{% endblock %}</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'chords/css/style.css' %}" />
    </head>

    <body>

    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'chords:index' %}">Guitar Chords</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Recently added</a></li>
                    <li id="nav_popular"><a href="{% url 'chords:popular' %}">Popular</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'chords:add_song' %}">Send a song!</a></li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'chords:bookmarks' %}">My bookmarks</a></li>
                                <li><a href="{% url 'chords:user' user.username %}">My songs</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                                <li><a href="{% url 'auth_logout' %}?next=/chords/">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'registration_register' %}">Sign up</a></li>
                        <li><a href="{% url 'auth_login' %}">Log in</a></li>
                    {% endif %}
                </ul>

                <form class="navbar-form navbar-right" action="{% url 'chords:search' %}" method="get">
                    <!--<input class="form-control" type="text" name="search" placeholder="Search...">-->
                    <div class="input-group">
                        <input type="text" class="form-control" name="keywords" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Go</button>
                        </span>
                    </div>
                </form>

            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </nav>

    <div class="container">
        {% block body_block %}{% endblock %}
    </div>

    <div class="container footer">
        <hr />
        <footer class="text-center text-muted">
                <p>Copyright © 2015 Ilias Stamatis. All rights reserved.<p>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    {% block scripts_block %}{% endblock %}

    </body>
</html>
