<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Chords - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'chords/css/style.css' %}" />
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
            <ul>
                <li><a href="{% url 'chords:index' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'chords:user_bookmarks' %}">My bookmarks</a></li>
                    <li><a href="{% url 'chords:user' user.username %}">My songs</a></li>
                    <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                    <li><a href="{% url 'auth_logout' %}?next=/chords/">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% endif %}
            </ul>
            <form action="{% url 'chords:search' %}" method="get">
                <input type="text" name="search" placeholder="Search...">
            </form>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% block scripts_block %}{% endblock %}
    </body>
</html>
