{% extends 'chords/base.html' %}
{% load staticfiles %}

{% block title %}Your bookmarks{% endblock %}

{% block body_block %}

<div class="row header text-center">
    <h3>My bookmarks</h3>
</div>

<div class="row" id="present_songs">
    {% if songs %}
        {% for song in songs %}
            <li><a href="{% url 'chords:song' song.slug %}">{{ song.full_title }}</a></li>
        {% endfor %}

        <div id="col1" class="col-md-4"> <ul> </ul> </div>
        <div id="col2" class="col-md-4"> <ul> </ul> </div>
        <div id="col3" class="col-md-4"> <ul> </ul> </div>
    {% else %}
        <p class="text-center">Your bookmarks are empty.</p>
    {% endif %}
</div>

{% endblock %}

{% block scripts_block %}
    <script src="{% static "chords/js/present.js" %}"></script>
{% endblock %}
