{% extends 'chords/base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}Contact{% endblock %}

{% block body_block %}

<form id="contact_form" method="post" action="{% url 'chords:contact' %}">
    {% csrf_token %}
    <h3>Contact</h3>
    <hr />

    {{ form|bootstrap }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

{% block scripts_block %}
    <script src="{% static "chords/js/forms_validation.js" %}"></script>
{% endblock %}
