<h1>{{ song.title }}</h1>
<ul>
    {% if song.artist %}
        <li>Artist: <a href="{% url 'chords:artist' song.artist.slug %}">{{ song.artist.name }}</a></li>
    {% else %}
        <li>Artist: {{ artist_txt }}</li>
    {% endif %}
    {% if song.pub_date %}
        <li>Published: {{ song.pub_date }}</li>
    {% else %}
        <li>Published: Unpublished</li>
    {% endif %}
    <li>Genre: {{ song.genre_str }}</li>
    {% if song.user %}
        <li>Sent by: <a href="{% url 'chords:user' song.user.get_username %}">{{ song.user.get_username }}</a></li>
    {% endif %}
</ul>
<pre id="song_content">
{{ song.content }}
</pre>
{% if song.video %}
    <iframe width="480" height="360" src="{{ song.embed_video_url }}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
{% endif %}
<ul>
    <li><a href="javascript:;" id="hide_chords">Hide chords<a></li>
    <li><a href="javascript:;" id="hide_tabs">Hide tabs<a></li>
</ul>
