<div class="row">
    <div class="col-md-4">
        <h2>{{ song.title }}</h2>
        <br />

        <div id="song_content">{{ song.content }}</div> <br />
    </div>

    <div class="col-md-5 video">
        {% if song.video %}
            <iframe width="430" height="330" src="{{ song.embed_video_url }}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        {% endif %}
    </div>

    <div class="col-md-3" id="info-column">
        <ul>
            {% if song.artist %}
                <li>Artist: <a href="{% url 'chords:artist' song.artist.slug %}">{{ song.artist.name }}</a></li>
            {% elif artist_txt %}
                <li>Artist: {{ artist_txt }}</li>
            {% endif %}
            {% if song.pub_date %}
                <li>Published: {{ song.pub_date }}</li>
            {% else %}
                <li>Published: Unpublished</li>
            {% endif %}
            <li>Genre: {{ song.genre_str }}</li>
            {% if song.sender %}
                <li>Sent by: <a href="{% url 'chords:user' song.sender.get_username %}">{{ song.sender.get_username }}</a></li>
            {% elif user_txt %}
                Sent by: {{ user_txt }}</li>
            {% endif %}

            <hr />

            <li><a href="javascript:;" id="hide_chords">Hide chords</a></li>
            {% if song.tabs %}
                <li><a href="javascript:;" id="hide_tabs">Hide tabs</a></li>
            {% endif %}
            <li><a href="javascript:;">Get pdf</a></li>
        </ul>

        Semiton change: <select id="semiton_change"></select>
    </div>
</div>
