{% extends 'chords/base.html' %}
{% block title %}Home{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
    <h1>Hi {{ user.username }}! This is index!</h1>
{% else %}
    <h1>Hi! This is index!</h1>
{% endif %}

{% if recent_songs %}
    <h2>Recently added songs</h2>
    <ul>
    {% for song in recent_songs %}
    <li><a href="{% url 'chords:song' song.slug %}">{{ song.full_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p><strong>There are no songs present at the moment.</strong></p>
{% endif %}
{% if popular_songs %}
    <h2>Most popular songs</h2>
    <ul>
    {% for song in popular_songs %}
    <li><a href="{% url 'chords:song' song.slug %}">{{ song.full_title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if user.is_authenticated %}
    <li><a href="{% url 'chords:add_song' %}">Send us a song!</a></li>
{% endif %}

{% endblock %}
