{% extends 'chords/base.html' %}
{% load i18n %}

{% block title %}Search{% endblock %}

{% block body_block %}

{% if query %}
    <h3>Search results for "{{ query }}"...</h3>
{% else %}
    <h3>Search for a song title or artist</h3>
{% endif %}
<hr />

<form id="search_form" class="form-inline" action="{% url 'chords:search' %}" method="get">
    {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <div class="form-group">
        <label id="submit_label">Go</label>
        <button type="submit" class="btn btn-primary">{% trans 'Go!' %}</button>
    </div>
</form>

{% comment %}
{% if results %}
    <ul>
    {% for song in results %}
    <li><a href="{% url 'chords:song' song.slug %}">{{ song.full_title }}</a></li>
    {% endfor %}
    </ul>
    <p><strong>We found {{ results_count }} relative result{{ results_count|pluralize }}.</strong></p>
{% elif query %}
    <p><strong>No results found.</strong></p>
{% endif %}
{% endcomment %}

{% endblock %}
