{% extends 'chords/base.html' %}
{% load staticfiles %}

{% block title %}Song verification{% endblock %}

{% block body_block %}

<p>Please verify the song.</p>
<hr />
{% include "chords/display_song.html" %}
<form id="form_goback" method="get" action="{% url 'chords:add_song' %}">
    <button type="submit" class="btn btn-primary">Go back</button>
</form>
<form id="form_submit" method="get" action="{% url 'chords:song_submitted' %}">
    <button type="submit" class="btn btn-primary">It's ok, submit song!</button>
</form>

{% endblock %}

{% block scripts_block %}
    <script src="{% static "chords/js/song.js" %}"></script>
{% endblock %}
