a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.chord {
    color: purple;
    position: relative;
}

.chord img {
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-radius: 10px;
    visibility: hidden;

    width: 90px;
    height: 110px;
    padding: 5px 4px 10px 4px;
    background-color: white;
    border: 2px solid gray;
}

.tabsline {
    color: blue;
}

#song_content {
    white-space: pre;
}
