/* general */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

textarea {
    resize: none;
}

/* forms */

.panel {
    margin-top: 10px;
}

.panel#registration_panel {
    max-width: 425px;
}

.panel#login_panel,#password_change_panel,
#password_reset_panel,#password_reset_confirm_panel {
    max-width: 350px;
}

#add_song_form {
    max-width: 700px;
}

#add_song_form label[for=id_content] {
    display: none;
}

#search_form label {
    display: block;
}

#search_form .form-group {
    margin-right: 15px;
}

#search_form #submit_label {
    visibility: hidden;
}

#form_submit, #form_goback {
    display: inline;
}

#comment_form label[for=id_captcha] {
    display: none;
}

#contact_form {
    max-width: 400px;
}

/* song */

#song_content, .comment_content {
    white-space: pre;
}

.chord {
    color: purple;
    position: relative;
}

.chord img {
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-radius: 10px;
    visibility: hidden;

    width: 90px;
    height: 110px;
    padding: 5px 4px 10px 4px;
    background-color: white;
    border: 2px solid gray;
}

.tabsline {
    color: blue;
}

.video iframe {
    margin-top: 80px;
}

#info-column {
    margin-top: 70px;
}

#comment_seperator {
    margin-top: 0px;
}

/* misc */

.header {
    margin-top: 0px;
    margin-bottom: 20px;
}

.table-container {
    max-width: 50%;
    position: relative;
}

#popular_container {
    left: -2%;
}

#recentlyadded_container {
    left: -4%;
}

#search_table th a {
    color: #333;
}

.cc_btn_accept_all {
    color: white !important;
    background-color: #337AB7 !important;
}

/* footer */

.footer {
    max-width: 525px;
    margin-bottom: 20px;
}

/* apply to bootstrap classes */

.help-block {
    margin: 2px 0px 0px 0px;
}
